#root {
  width: auto;
  height: auto;
}

body {
  background-color: black;
}

.header {
  width: 250px;
  height: 70px;
  margin-top: 59px;
  margin-left: 84px;
}

.header h1 {
  font-family: 'Poppins';
  font-size: 50px;
  font-weight: 700;
  line-height: 75px;
  text-align: left;
  background: -webkit-linear-gradient(90deg, #3946C1 0%, #5661CF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-text {
  width: 547px;
  height: 338px;
  margin-top: 238px;
  margin-left: 182px;
  /* display: flex;
  flex-direction: column;
  align-items: flex-start; */
  & p {
    font-family: Poppins;
    font-size: 50px;
    font-weight: 600;
    line-height: 75px;
    text-align: left;
    color: #FFFCFC;
  }
  & .text1 {
    width: 400px;
    height: 75px;
    margin-left: 147px;
  }
  & .text2 {
    width: 238px;
    height: 75px;
    margin-top: 75px;
  }
  & .words {
    width: 400px;
    height: 75px;
    & span {
      font-family: Poppins;
      font-size: 50px;
      font-weight: 600;
      text-align: left;
      background: -webkit-linear-gradient(249.88deg, #8A32D0 8.25%, #9A95CD 93.16%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: block;
      animation: spin_words 4s infinite;
    }
    overflow: hidden;
  }
}

@keyframes spin_words{
  20%{
      transform: translateY(-112%);
  }
  45%{
      transform: translateY(-100%);
  }
  70%{
      transform: translateY(-212%);
  }
  100%{
      transform: translateY(0%);
  }
}